 
.usec{
    text-align: center;
    background-color:antiquewhite;


}
hr{
    height: 3px;
    background-color:#333;
}
.uses{
    text-align: center;
    background-color:blueviolet


}
body{
    background-color:antiquewhite;

}
